.products {
  position: relative;
  padding: 0 60px; /* فاصله بین محصولات و دکمه‌ها */
}

.products .swiper {
  overflow: hidden; /* بماند برای اسلایدها */
}

.swiper{
  position: relative;
}

/* اطمینان از رفتار صحیح اسلایدهای سفارشی در موبایل */
.relatedProducts .relatedProducts-slider {
  box-sizing: border-box;
  flex-shrink: 0; /* معادل رفتار swiper-slide */
  width: auto;   /* عرض اسلاید توسط Swiper مدیریت شود */
}

/* دکمه‌ها */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 10;
  direction: ltr;
}

.swiper-button-prev {
  left: -10px; 
}

.swiper-button-next {
  right: -10px;
}

/* آیکون‌ها */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 17px;
  color: #403f4c;
}

@media (max-width: 640px) {
  .products {
    padding: 0 40px;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }
}