@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
@import "tailwindcss";
@config "../tailwind.config.js";
@theme {
  --font-display: 'Vazirmatn', sans-serif;
  --color-red: #FF4040;
  --color-gray: #6B697F;
  --color-blue: #52B9F3;
  
  --color-bg-clock: #E8EBED;
  --color-gray-light: #9B9AAB;
  --color-neutral: #E8EBED;

  --text-small : 12.8px;
}

@layer components {
  .nav-item {
    @apply text-sm py-2.5 pt-[9px] px-3 border-b-2 border-transparent  cursor-pointer hover:border-b-2 hover:border-[#FF4040] hover:text-[#FF4040] transition-all duration-300;
  }
  .selected-items {
    @apply flex justify-center items-center py-2 px-3 text-[10.5px] text-[#403F4C] border-b  border-b-[#EEF0F1]
  }

  .image-position {
    @apply  bg-cover rounded-xl  h-[172px]
  }

  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }
  .buy-guide-card {
    @apply flex flex-col justify-end px-6 rounded-[20px] gap-y-4;
  }
  .buy-guide-card-content {
    @apply flex flex-col gap-y-4;
  }
  .soon{
    @apply absolute top-3 text-small left-6 py-[2px] px-4 inline-block bg-[#BEE5FB4D]   rounded-full text-[#52B9F3];
  }
  .non-existent{
    @apply absolute top-3 text-small left-6 py-[2px] px-4 inline-block bg-[#FFE0E099]   rounded-full text-[#B3261E];
  }
  .existing{
    @apply absolute top-3 text-small left-6 py-[2px] px-4 inline-block bg-[#05C26A1A]   rounded-full text-[#05C56C];
  }
  .customized{
    @apply absolute top-3 text-small left-6 py-[2px] px-4 inline-block bg-[#F1E9FC]   rounded-full text-[#9747FF];
  }
  .clock-top{
    @apply bg-white rounded-3xl p-5 relative after:w-3/5 after:h-[5px] after:bg-red after:absolute after:top-0 after:rounded-l-full after:rounded-tr-full after:right-0;
  }
  .clock-discount{
    @apply absolute top-2 right-2 text-red text-sm;
  }
  .footer-nav-item{
    @apply text-small  px-4 border-l-[1px] border-[#B4B3C0];
  }

}
