@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
@import "tailwindcss";
@config "../tailwind.config.js";
@theme {
  --font-display: 'Vazirmatn', sans-serif;
}